openapi: 3.0.3
info:
  title: Soundlink Public API
  version: 0.0.1-draft
  description: |
    Campaign listing, metrics, and write operations for Soundlink partner organizations.

    **Base URL:** `https://api.getsoundlink.com`

    ## Authentication

    Send `Authorization: Bearer` with one of:

    1. **API key (recommended)** — a `sk_*` key from the Soundlink app
       (Settings → Developer → API keys):
       ```
       Authorization: Bearer sk_abc123_<token>
       ```

    2. **OAuth Bearer** — an access token from Sign in with Soundlink
       (authorization code or client credentials). Token scopes use the
       same strings as Public API key scopes (for example `campaigns:read`,
       `metrics:read`):
       ```
       Authorization: Bearer <oauth_access_token>
       ```

    `x-api-key` is no longer accepted and is ignored if sent. Requests
    without `Authorization: Bearer` return `401 invalid_api_key` (or
    `401 invalid_token` when a Bearer value is present but neither a
    recognized `sk_*` key nor a valid OAuth access token).

    ### Which operations accept OAuth?

    | Operations | Required scope | Auth |
    | --- | --- | --- |
    | `GET /v1/ping` | any granted Public API scope | API key (Bearer) or OAuth Bearer |
    | Campaign reads (`GET /v1/strategies`, `GET /v1/campaigns`, campaign detail, tiers) | `campaigns:read` | API key (Bearer) or OAuth Bearer |
    | Metrics reads (overview, breakdown, exports) | `metrics:read` | API key (Bearer) or OAuth Bearer |
    | Campaign writes (create, stop, budget, tier updates) | `campaigns:write` | API key (Bearer) or OAuth Bearer |
    | Video import / import status | `videos:write` | API key (Bearer) or OAuth Bearer |
    | Soundlink reads (list, detail, metrics overview/timeseries/engagement) | `soundlinks:read` | API key (Bearer) or OAuth Bearer |

    Per-operation scope requirements are also marked with `x-required-scope`
    (except `GET /v1/ping`, which accepts any valid credential with at least
    one Public API scope granted to the key/token).

    All responses are wrapped in a standard envelope:
    ```json
    { "data": <payload>, "meta": { "requestId": "<uuid>" } }
    ```

    Errors follow the same envelope shape with an `error` field instead of `data`.

servers:
  - url: https://api.getsoundlink.com
    description: Production

security:
  - apiKeyBearerAuth: []
  - oauthBearer: []

tags:
  - name: System
    description: Connectivity and auth verification
  - name: Campaigns
    description: Campaign listing, detail, creation, and wallet management (budget, stop, tiers)
  - name: Metrics
    description: Campaign performance metrics
  - name: Videos
    description: Partner video library import for Full Control campaigns
  - name: Soundlinks
    description: Soundlink listing, detail, and performance metrics

paths:
  /v1/ping:
    get:
      operationId: ping
      summary: Verify connectivity and authentication
      description: |
        Returns `{ "status": "ok" }` if the request is authenticated and the
        API is reachable. Useful for verifying a newly issued API key or OAuth
        access token before making data requests. Accepts either credential;
        no specific scope is required beyond a valid key/token.
      tags: [System]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      responses:
        '200':
          description: Authenticated and reachable
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: object
                    required: [status]
                    properties:
                      status:
                        type: string
                        example: ok
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  status: ok
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/strategies:
    get:
      operationId: listStrategies
      summary: List campaign strategy types
      description: |
        Returns the static catalog of `strategyType` values accepted by
        `POST /v1/campaigns`. Built-in strategies apply platform default
        tiering internally; only `custom` allows `tierTargeting` on create.

        Requires the `campaigns:read` scope. Accepts API key or OAuth Bearer.
      tags: [Campaigns]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: campaigns:read
      responses:
        '200':
          description: Strategy catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategiesCatalogResponse'
              example:
                data:
                  strategies:
                    - strategyType: maximum_growth
                      tierTargetingAllowed: false
                    - strategyType: market_discovery
                      tierTargetingAllowed: false
                    - strategyType: revenue_maximization
                      tierTargetingAllowed: false
                    - strategyType: custom
                      tierTargetingAllowed: true
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: |
        Returns all campaigns for the authenticated organization.
        Intended for reporting and data warehouse sync.

        Requires the `campaigns:read` scope. Accepts API key or OAuth Bearer.
      tags: [Campaigns]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: campaigns:read
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize100'
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [createdAt]
            default: createdAt
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Paginated list of campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
              example:
                data:
                  items:
                    - campaignId: f1e28d31-c358-4284-9bef-00a2334625fd
                      organizationId: org_xyz
                      status: active
                      socialPlatform: meta
                      dailyBudget: 20.0
                      totalBudget: 140.0
                      campaignDuration: 7
                      createdAt: '2026-04-01T10:00:00Z'
                      updatedAt: '2026-04-08T12:00:00Z'
                  pagination:
                    page: 1
                    pageSize: 10
                    totalCount: 42
                    totalPages: 5
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

    post:
      operationId: createCampaign
      summary: Create a wallet-funded campaign
      description: |
        Creates a campaign funded from the organization's wallet balance.
        Requires the `campaigns:write` scope, and the organization must be
        enabled for wallet billing.

        This route has a financial side effect (the campaign's budget is
        deducted from the wallet balance), so the `Idempotency-Key` header
        is **required** on every request. See the header description below
        for retry semantics.

        **Auth:** Accepts API key or OAuth Bearer (`campaigns:write`).
      tags: [Campaigns]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: campaigns:write
      parameters:
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
            examples:
              trackCampaign:
                summary: Campaign promoting a single track
                value:
                  spotifyUrl: 'https://open.spotify.com/track/11dFghVXANMlKmJXsNCbNl'
                  dailyBudget: 25
                  durationDays: 14
                  genre: Pop
                  campaignName: 'My Summer Single'
                  strategyType: maximum_growth
                  creativeDirection:
                    type: do_it_for_me
                  trackOptions:
                    artistIdFollow: 'artist-uuid'
                  clonedFromCampaignId: '3f2504e0-4f89-41d3-9a0c-0305e82c3301'
              playlistCampaign:
                summary: Campaign promoting a playlist
                value:
                  spotifyUrl: 'https://open.spotify.com/playlist/37i9dQZF1DXcBWIGoYBM5M'
                  dailyBudget: 25
                  durationDays: 14
                  genre: Pop
                  campaignName: 'Summer Vibes Playlist'
                  strategyType: maximum_growth
                  creativeDirection:
                    type: do_it_for_me
              fullControlCampaign:
                summary: Campaign with partner-supplied creative (full control)
                value:
                  spotifyUrl: 'https://open.spotify.com/track/11dFghVXANMlKmJXsNCbNl'
                  dailyBudget: 40
                  durationDays: 21
                  genre: Hip-Hop/R&B
                  campaignName: 'My Summer Single'
                  strategyType: custom
                  creativeDirection:
                    type: full_control
                    selectedCreatives:
                      - videoId: '8f14e45f-ceea-467e-9de5-e7d0b4d4e6bb'
                      - videoId: '3c9b1a2d-1a2f-4a1e-9c3b-0a1b2c3d4e5f'
                  tierTargeting:
                    customTierIds: [123, 456]
                    customTiers:
                      - name: 'US/UK'
                        countries: ['US', 'GB']
                        language: en
                        percentBudget: 60
                      - name: LatAm
                        countries: ['MX', 'AR']
                        language: es
                        percentBudget: 40
                  trackOptions:
                    artistIdFollow: 'artist-uuid'
      responses:
        '201':
          description: Campaign created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCampaignResponse'
              example:
                data:
                  campaignId: campaign-uuid
                  status: creating
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/CreateCampaignBadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/InsufficientCredit' }
        '403': { $ref: '#/components/responses/CreateCampaignForbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyKeyConflict' }
        '422': { $ref: '#/components/responses/CreateCampaignUnprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Get campaign
      description: |
        Fetch full details for a single campaign.

        Requires the `campaigns:read` scope. Accepts API key or OAuth Bearer.
      tags: [Campaigns]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: campaigns:read
      parameters:
        - $ref: '#/components/parameters/campaignId'
      responses:
        '200':
          description: Campaign detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignDetailResponse'
              example:
                data:
                  campaignId: f1e28d31-c358-4284-9bef-00a2334625fd
                  organizationId: org_xyz
                  status: active
                  socialPlatform: meta
                  dailyBudget: 20.0
                  totalBudget: 140.0
                  campaignDuration: 7
                  strategyType: custom
                  createdAt: '2026-04-01T10:00:00Z'
                  updatedAt: '2026-04-08T12:00:00Z'
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/stop:
    post:
      operationId: stopCampaign
      summary: Stop a wallet campaign and refund unspent budget
      description: |
        Stops delivery for a wallet-funded campaign and refunds unspent budget
        to the organization wallet. Requires the `campaigns:write` scope.

        **Wallet campaigns only** (`generation: 3`).

        Stopping is idempotent at the campaign level: a second stop on an
        already-stopped campaign succeeds without double-refunding. The
        `Idempotency-Key` header is also **required** so retries of the same
        request replay the original response without repeating side effects.

        **Auth:** Accepts API key or OAuth Bearer (`campaigns:write`).
      tags: [Campaigns]
      x-required-scope: campaigns:write
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/idempotencyKey'
      responses:
        '200':
          description: Campaign stopped (or already stopped)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopCampaignResponse'
              example:
                data:
                  campaignId: campaign-uuid
                  status: stopped
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyKeyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/budget/increase:
    post:
      operationId: increaseCampaignBudget
      summary: Increase wallet campaign budget
      description: |
        Raises budget for a wallet-funded campaign. Requires the
        `campaigns:write` scope and an `Idempotency-Key` header.

        **Wallet campaigns only** (`generation: 3`).

        **Modes** (default `current_and_renewals`):
        - `current_cycle` — applies to the current billing cycle only
        - `next_renewal` — adjusts the next-cycle daily budget (may use
          `amount: 0` with `targetDailyBudget` to set an absolute next-cycle target)
        - `current_and_renewals` — applies to the current cycle and future renewals

        Debits the organization wallet when the current cycle is increased.

        **Auth:** Accepts API key or OAuth Bearer (`campaigns:write`).
      tags: [Campaigns]
      x-required-scope: campaigns:write
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncreaseCampaignBudgetRequest'
            examples:
              currentAndRenewals:
                summary: Top up current cycle and renewals
                value:
                  amount: 70
                  mode: current_and_renewals
              nextRenewalTarget:
                summary: Set next-cycle daily budget without current-cycle debit
                value:
                  amount: 0
                  mode: next_renewal
                  targetDailyBudget: 40
      responses:
        '200':
          description: Budget increase accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncreaseCampaignBudgetResponse'
              example:
                data:
                  campaignId: campaign-uuid
                  mode: current_and_renewals
                  amount: 70
                  walletBalance: 430
                  walletNextCycleDailyBudget: 30
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/InsufficientCredit' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyKeyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/budget/decrease:
    post:
      operationId: decreaseCampaignBudget
      summary: Decrease wallet campaign daily budget
      description: |
        Lowers the daily budget for a wallet-funded campaign to
        `targetDailyBudget`. Requires the `campaigns:write` scope and an
        `Idempotency-Key` header.

        **Wallet campaigns only** (`generation: 3`).

        **Modes** (default `current_and_renewals`):
        - `current_cycle` — lowers current-cycle spend only
        - `current_and_renewals` — also sets the next-cycle daily budget

        `next_renewal` is not supported for decreases. Refund of unused budget
        is applied asynchronously after acceptance (`accepted: true`).

        Domain rules (also returned as `invalid_request` when violated):
        - `targetDailyBudget` must be at least `$10`/day and lower than the
          current daily budget
        - more than 3 days must remain in the current cycle

        **Auth:** Accepts API key or OAuth Bearer (`campaigns:write`).
      tags: [Campaigns]
      x-required-scope: campaigns:write
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecreaseCampaignBudgetRequest'
            example:
              targetDailyBudget: 60
              mode: current_and_renewals
      responses:
        '200':
          description: Budget decrease accepted (refund may complete asynchronously)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecreaseCampaignBudgetResponse'
              example:
                data:
                  campaignId: campaign-uuid
                  mode: current_and_renewals
                  targetDailyBudget: 60
                  accepted: true
                  walletNextCycleDailyBudget: 60
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/IdempotencyKeyConflict' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/tiers:
    get:
      operationId: getCampaignTiers
      summary: Get campaign tier allocation
      description: |
        Returns the current geographic tier allocation for a wallet campaign:
        which tiers are enabled, their budget share, and when tiers were last
        updated (`lastUpdate`). Use this before `PATCH` to build a valid request.

        **Wallet campaigns only** (`generation: 3`).

        Requires the `campaigns:read` scope. Accepts API key or OAuth Bearer.
      tags: [Campaigns]
      x-required-scope: campaigns:read
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/campaignId'
      responses:
        '200':
          description: Campaign tier allocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignTiersResponse'
              example:
                data:
                  lastUpdate: '2026-01-01T00:00:00Z'
                  tiers:
                    - tierId: 1
                      tierName: US
                      isEnabled: true
                      allocationPercent: 60
                    - tierId: 2
                      tierName: UK
                      isEnabled: false
                      allocationPercent: 40
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

    patch:
      operationId: updateCampaignTiers
      summary: Update campaign tier allocation
      description: |
        Enable or disable geographic tiers and optionally reallocate budget
        shares for a wallet campaign.

        **Wallet campaigns only** (`generation: 3`).

        **Request rules:**
        - Include **all** tiers on the campaign in `items`
        - `newAllocationPercent` values must sum to **100**
        - At least one tier must have `isEnabled: true`

        **Cooldown:** after a successful update, further tier changes are
        blocked for **72 hours** (`409 tier_update_cooldown`).

        **Auth:** Accepts API key or OAuth Bearer (`campaigns:write`).
      tags: [Campaigns]
      x-required-scope: campaigns:write
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/campaignId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignTiersRequest'
            example:
              items:
                - targetingTierId: 1
                  isEnabled: true
                  newAllocationPercent: 70
                - targetingTierId: 2
                  isEnabled: true
                  newAllocationPercent: 30
      responses:
        '200':
          description: Updated tier allocation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignTiersResponse'
        '400':
          description: Invalid request or tier status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_request:
                  value:
                    error:
                      code: invalid_request
                      message: 'Tier updates are only supported for wallet campaigns.'
                    meta:
                      requestId: 550e8400-e29b-41d4-a716-446655440000
                invalid_tier_status:
                  value:
                    error:
                      code: invalid_tier_status
                      message: 'At least one tier must be enabled'
                    meta:
                      requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/TierUpdateCooldown' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/metrics/overview:
    get:
      operationId: getCampaignMetricsOverview
      summary: Campaign metrics overview
      description: |
        Campaign-level totals for a date range: spend, conversions, listeners,
        streams, followers, and derived ratios. No per-day rows — use
        `/metrics/breakdown` for those.

        Suitable for dashboards and quick syncs.

        Requires the `metrics:read` scope. Accepts API key or OAuth Bearer.
      tags: [Metrics]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: metrics:read
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          description: Campaign totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsOverviewResponse'
              example:
                data:
                  listeners: 4821
                  streams: 9340
                  followers: 312
                  impressions: 48210
                  ad_clicks: 1120
                  link_clicks: 890
                  spend_media: 134.50
                  spend_total: 168.13
                  fees: 33.63
                  currency: USD
                  cpl: 0.028
                  cpf: 0.43
                  streams_per_listener: 1.94
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/metrics/breakdown:
    get:
      operationId: getCampaignMetricsBreakdown
      summary: Campaign metrics breakdown
      description: |
        Per-day metrics broken down by country. One row per
        `(report_date, campaign_id, country_code)`. Can be large, so results
        are paginated.

        **Row schema:** `campaign_country_daily` v1.0 — the same schema used
        in JSONL bulk exports. Rows are idempotent on the primary key
        `(provider, account_id, report_date, campaign_id, country_code)`;
        re-ingesting is safe.

        **Mutability window:** rows for a given `report_date` can be revised
        for up to 7 days after the date closes due to delayed events from
        Meta and Spotify. Re-fetch or re-ingest accordingly.

        Maps to the **Countries** tab in the Soundlink Insights UI.
        Use for daily warehouse loads.

        Requires the `metrics:read` scope. Accepts API key or OAuth Bearer.
      tags: [Metrics]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: metrics:read
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize500'
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [report_date, spend_total]
            default: report_date
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Paginated per-day country rows (`campaign_country_daily` schema)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsBreakdownResponse'
              example:
                data:
                  schemaVersion: '1.0'
                  items:
                    - provider: soundlink
                      account_id: a7ac3173-2f71-4e79-921f-d15d7112dd11
                      schema_version: '1.0'
                      report_date: '2026-04-01'
                      report_date_timezone: UTC
                      exported_at: '2026-05-20T03:00:00Z'
                      campaign_id: f1e28d31-c358-4284-9bef-00a2334625fd
                      campaign_name: Sleep Playlist
                      campaign_target_type: track
                      campaign_target_isrc: DEXW62500259
                      campaign_target_spotify_track_id: 11dFghVXANMlKmJXsNCbNl
                      campaign_target_playlist_id: null
                      country_code: US
                      impressions: 4821
                      ad_clicks: 112
                      link_clicks: 89
                      streams: 203
                      listeners: 145
                      followers: 12
                      streams_per_listener: 1.4
                      spend_media: 42.50
                      spend_total: 53.13
                      fees: 10.63
                      currency: USD
                      currency_account: USD
                      cpl: 0.293
                      cpf: 3.542
                      cpc_linkclick: 0.478
                      ctr_linkclick: 0.0185
                      ctr_adclick: 0.0232
                      cost_per_result: 3.542
                      result_type: follow
                  pagination:
                    page: 1
                    pageSize: 50
                    totalCount: 340
                    totalPages: 7
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/metrics/breakdown/export:
    get:
      operationId: exportCampaignMetricsBreakdown
      summary: Campaign metrics breakdown export (JSONL)
      description: |
        Streams the full country-level metrics dataset for a campaign as
        **newline-delimited JSON (JSONL)**. Every line is a complete, valid
        JSON object conforming to the `campaign_country_daily` v1.0 schema
        — identical to the rows returned by `GET /metrics/breakdown` but
        without pagination or an envelope wrapper.

        Designed for data pipeline consumers: load directly into BigQuery,
        Snowflake, or any JSONL-aware ingest tool without cursor logic.

        **Usage:**
        ```
        GET /v1/campaigns/{campaignId}/metrics/breakdown/export
        Accept: application/x-ndjson
        ```

        **Date range:** if you omit both dates, defaults to the last **90 days**
        ending today. Override with `startDate` / `endDate`. **Responses are
        capped at 90 days** — a wider range returns `400 invalid_query_parameter`.
        Page longer histories in 90-day slices.

        **Mutability:** rows for a given `report_date` can be revised for up
        to 7 days after the date closes due to delayed events from Meta and
        Spotify. Re-fetching and re-ingesting on the primary key is safe
        (idempotent).

        Requires the `metrics:read` scope. Accepts API key or OAuth Bearer.
      tags: [Metrics]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: metrics:read
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
      responses:
        '200':
          description: |
            JSONL stream. Each line is a `campaign_country_daily` v1.0 row.
            Lines are sorted by `(report_date asc, country_code)`.
          headers:
            Content-Disposition:
              schema:
                type: string
              description: |
                `attachment; filename="breakdown_{campaignId}_{startDate}_{endDate}.jsonl"`
              example: 'attachment; filename="breakdown_f1e28d31_2026-04-01_2026-05-01.jsonl"'
            X-Row-Count:
              schema:
                type: integer
              description: Total number of rows in the response.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/BreakdownRow'
              example: |
                {"provider":"soundlink","account_id":"a7ac3173-2f71-4e79-921f-d15d7112dd11","schema_version":"1.0","report_date":"2026-04-01","report_date_timezone":"UTC","exported_at":"2026-05-20T03:00:00Z","campaign_id":"f1e28d31-c358-4284-9bef-00a2334625fd","campaign_name":"Sleep Playlist","campaign_target_type":"track","campaign_target_isrc":"DEXW62500259","campaign_target_spotify_track_id":"11dFghVXANMlKmJXsNCbNl","campaign_target_playlist_id":null,"country_code":"US","impressions":4821,"ad_clicks":112,"link_clicks":89,"streams":203,"listeners":145,"followers":12,"streams_per_listener":1.4,"spend_media":42.50,"spend_total":53.13,"fees":10.63,"currency":"USD","currency_account":"USD","cpl":0.293,"cpf":3.542,"cpc_linkclick":0.478,"ctr_linkclick":0.0185,"ctr_adclick":0.0232,"cost_per_result":3.542,"result_type":"follow"}
                {"provider":"soundlink","account_id":"a7ac3173-2f71-4e79-921f-d15d7112dd11","schema_version":"1.0","report_date":"2026-04-01","report_date_timezone":"UTC","exported_at":"2026-05-20T03:00:00Z","campaign_id":"f1e28d31-c358-4284-9bef-00a2334625fd","campaign_name":"Sleep Playlist","campaign_target_type":"track","campaign_target_isrc":"DEXW62500259","campaign_target_spotify_track_id":"11dFghVXANMlKmJXsNCbNl","campaign_target_playlist_id":null,"country_code":"DE","impressions":2103,"ad_clicks":48,"link_clicks":31,"streams":87,"listeners":61,"followers":4,"streams_per_listener":1.43,"spend_media":18.20,"spend_total":22.75,"fees":4.55,"currency":"USD","currency_account":"USD","cpl":0.298,"cpf":4.55,"cpc_linkclick":0.587,"ctr_linkclick":0.0148,"ctr_adclick":0.0228,"cost_per_result":4.55,"result_type":"follow"}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/campaigns/{campaignId}/metrics/engagement/export:
    get:
      operationId: exportCampaignEngagement
      summary: Campaign engagement export (JSONL)
      description: |
        Streams the full engagement dataset for a campaign as
        **newline-delimited JSON (JSONL)**. Every line is a complete, valid
        JSON object conforming to the `campaign_engagement_daily` v1.0 schema.

        Designed for data pipeline consumers: load directly into BigQuery,
        Snowflake, or any JSONL-aware ingest tool without cursor logic.

        **Usage:**
        ```
        GET /v1/campaigns/{campaignId}/metrics/engagement/export
        Accept: application/x-ndjson
        ```

        **Response body (one JSON object per line, no trailing comma):**
        ```
        {"provider":"soundlink","report_date":"2026-04-01","streams":89,...}
        {"provider":"soundlink","report_date":"2026-04-02","streams":104,...}
        ```

        **Date range:** if you omit both dates, defaults to the last **90 days**
        ending today. Override with `startDate` / `endDate`. **Responses are
        capped at 90 days** — a wider range returns `400 invalid_query_parameter`.
        Page longer histories in 90-day slices.

        **Mutability:** rows for a given `report_date` can be revised for up to
        7 days after the date closes. Re-fetching and re-ingesting on the
        primary key is safe (idempotent).

        Requires the `metrics:read` scope. Accepts API key or OAuth Bearer.
      tags: [Metrics]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: metrics:read
      parameters:
        - $ref: '#/components/parameters/campaignId'
        - $ref: '#/components/parameters/startDate'
        - $ref: '#/components/parameters/endDate'
        - name: engagementContext
          in: query
          schema:
            type: string
            enum: [catalog, playlist]
          description: Filter to a single engagement context. Omit to return both.
      responses:
        '200':
          description: |
            JSONL stream. Each line is a `campaign_engagement_daily` v1.0 row.
            Lines are sorted by `(report_date asc, engagement_context, country_code, engaged_spotify_track_id)`.
          headers:
            Content-Disposition:
              schema:
                type: string
              description: |
                `attachment; filename="engagement_{campaignId}_{startDate}_{endDate}.jsonl"`
              example: 'attachment; filename="engagement_8ccd7b88_2026-04-01_2026-05-01.jsonl"'
            X-Row-Count:
              schema:
                type: integer
              description: Total number of rows in the response. Useful for progress tracking when streaming.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/EngagementRow'
              example: |
                {"provider":"soundlink","account_id":"a7ac3173-2f71-4e79-921f-d15d7112cc9a","schema_version":"1.0","report_date":"2026-04-08","report_date_timezone":"UTC","exported_at":"2026-05-22T10:12:11Z","campaign_id":"8ccd7b88-2591-4b94-848f-f142f5c6bba1","campaign_name":"9 To 5","campaign_target_type":"track","campaign_target_isrc":"DEXW62500272","campaign_target_spotify_track_id":"2RkZ5WPkKyBf0u8vN3dNgb","campaign_target_playlist_id":null,"status":"ended","engagement_context":"catalog","country_code":"US","engaged_track_isrc":"DEXW62500001","engaged_spotify_track_id":"4cOdK2wGLETKBW3PvgPWqT","engaged_track_name":"Till The Sunrise","playlist_position":null,"new_listeners":42,"returning_listeners":18,"listeners":60,"new_listener_streams":58,"returning_listener_streams":31,"streams":89,"spl":1.48}
                {"provider":"soundlink","account_id":"a7ac3173-2f71-4e79-921f-d15d7112dd11","schema_version":"1.0","report_date":"2026-04-08","report_date_timezone":"UTC","exported_at":"2026-05-22T10:12:11Z","campaign_id":"f1e28d31-c358-4284-9bef-00a2334625fd","campaign_name":"Sleep Playlist","campaign_target_type":"playlist","campaign_target_isrc":null,"campaign_target_spotify_track_id":null,"campaign_target_playlist_id":"37i9dQZF1DXcBWIGoYBM5M","status":"active","engagement_context":"playlist","country_code":"DE","engaged_track_isrc":"DEXW62500001","engaged_spotify_track_id":"4cOdK2wGLETKBW3PvgPWqT","engaged_track_name":"Till The Sunrise","playlist_position":14,"new_listeners":19,"returning_listeners":7,"listeners":26,"new_listener_streams":24,"returning_listener_streams":11,"streams":35,"spl":1.35}
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/soundlinks:
    get:
      operationId: listSoundlinks
      summary: List soundlinks
      description: |
        Returns the organization's self-serve soundlinks. Soundlinks linked
        to a campaign are the campaign's underlying resource and are served
        by the Campaigns endpoints instead.

        Soundlink schemas contain no financial fields: ads for self-serve
        soundlinks run in your own Meta account, so spend is not visible to
        Soundlink.

        Requires the `soundlinks:read` scope. Accepts API key or OAuth Bearer.
      tags: [Soundlinks]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: soundlinks:read
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize100'
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [createdAt]
            default: createdAt
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Paginated list of soundlinks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundlinkListResponse'
              example:
                data:
                  items:
                    - soundlinkId: V1StGXR8_Z5jdHi6B-myT
                      organizationId: a7ac3173-2f71-4e79-921f-d15d7112dd11
                      name: Midnight Drive
                      url: https://sndl.ink/soundlink/V1StGXR8_Z5jdHi6B-myT
                      targetType: track
                      spotifyUrl: https://open.spotify.com/track/11dFghVXANMlKmJXsNCbNl
                      status: active
                      createdAt: '2026-04-01T10:00:00Z'
                  pagination:
                    page: 1
                    pageSize: 10
                    totalCount: 42
                    totalPages: 5
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/soundlinks/{soundlinkId}:
    get:
      operationId: getSoundlink
      summary: Get soundlink
      description: |
        Fetch details for a single self-serve soundlink. Soundlinks linked
        to a campaign are not addressable here and return `404`.

        Requires the `soundlinks:read` scope. Accepts API key or OAuth Bearer.
      tags: [Soundlinks]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: soundlinks:read
      parameters:
        - $ref: '#/components/parameters/soundlinkId'
      responses:
        '200':
          description: Soundlink detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundlinkDetailResponse'
              example:
                data:
                  soundlinkId: V1StGXR8_Z5jdHi6B-myT
                  organizationId: a7ac3173-2f71-4e79-921f-d15d7112dd11
                  name: Midnight Drive
                  url: https://sndl.ink/soundlink/V1StGXR8_Z5jdHi6B-myT
                  targetType: track
                  spotifyUrl: https://open.spotify.com/track/11dFghVXANMlKmJXsNCbNl
                  status: active
                  createdAt: '2026-04-01T10:00:00Z'
                  autoFollow: true
                  metaPixelId: '1234567890123456'
                  tiktokPixelId: null
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/soundlinks/{soundlinkId}/metrics/overview:
    get:
      operationId: getSoundlinkMetricsOverview
      summary: Soundlink metrics overview
      description: |
        Soundlink-level totals for a date range: landing page views, outbound
        clicks, listeners (with new/returning splits), streams, followers, and
        derived ratios. No per-day rows — use `/metrics/timeseries` for those.

        Maps to the **Overview** tab in the Soundlink Insights UI.

        Requires the `soundlinks:read` scope. Accepts API key or OAuth Bearer.
      tags: [Soundlinks]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: soundlinks:read
      parameters:
        - $ref: '#/components/parameters/soundlinkId'
        - $ref: '#/components/parameters/soundlinkStartDate'
        - $ref: '#/components/parameters/soundlinkEndDate'
      responses:
        '200':
          description: Soundlink totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundlinkMetricsOverviewResponse'
              example:
                data:
                  views: 4821
                  link_clicks: 890
                  streams: 9340
                  listeners: 4821
                  new_listeners: 3980
                  returning_listeners: 841
                  new_listener_streams: 7104
                  returning_listener_streams: 2236
                  followers: 312
                  streams_per_listener: 1.94
                  ctr_lp: 0.185
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/soundlinks/{soundlinkId}/metrics/timeseries:
    get:
      operationId: getSoundlinkMetricsTimeseries
      summary: Soundlink metrics timeseries
      description: |
        Per-day metrics for a soundlink. One row per `report_date`. Results
        are paginated.

        **Row schema:** `soundlink_daily` v1.0. Rows are idempotent on the
        primary key `(provider, account_id, report_date, soundlink_id)`;
        re-ingesting is safe.

        **Mutability window:** rows for a given `report_date` can be revised
        for up to 7 days after the date closes due to delayed Spotify playback
        events. Re-fetch or re-ingest accordingly.

        Rows are aggregated across countries (no `country_code` in v1.0) and
        contain no financial fields.

        Maps to the **Trends** tab in the Soundlink Insights UI.
        Use for daily warehouse loads.

        Requires the `soundlinks:read` scope. Accepts API key or OAuth Bearer.
      tags: [Soundlinks]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: soundlinks:read
      parameters:
        - $ref: '#/components/parameters/soundlinkId'
        - $ref: '#/components/parameters/soundlinkStartDate'
        - $ref: '#/components/parameters/soundlinkEndDate'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize500'
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [report_date]
            default: report_date
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Paginated per-day rows (`soundlink_daily` schema)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundlinkTimeseriesResponse'
              example:
                data:
                  schemaVersion: '1.0'
                  items:
                    - provider: soundlink
                      account_id: a7ac3173-2f71-4e79-921f-d15d7112dd11
                      schema_version: '1.0'
                      report_date: '2026-08-01'
                      report_date_timezone: UTC
                      exported_at: '2026-08-28T03:00:00Z'
                      soundlink_id: V1StGXR8_Z5jdHi6B-myT
                      soundlink_name: Midnight Drive
                      soundlink_target_type: track
                      soundlink_target_isrc: DEXW62500259
                      soundlink_target_spotify_track_id: 11dFghVXANMlKmJXsNCbNl
                      soundlink_target_playlist_id: null
                      views: 4821
                      link_clicks: 890
                      streams: 203
                      listeners: 145
                      new_listeners: 120
                      returning_listeners: 25
                      new_listener_streams: 160
                      returning_listener_streams: 43
                      followers: 12
                      streams_per_listener: 1.4
                      ctr_lp: 0.185
                  pagination:
                    page: 1
                    pageSize: 50
                    totalCount: 90
                    totalPages: 2
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/soundlinks/{soundlinkId}/metrics/engagement:
    get:
      operationId: getSoundlinkEngagement
      summary: Soundlink engagement (top tracks)
      description: |
        Top tracks for a soundlink, aggregated over the requested date range.
        One item per track, sorted by streams by default. Results are
        paginated.

        Returns period totals per track (not daily rows). Maps to the top
        tracks section of the **Overview** tab in the Soundlink Insights UI.
        `startDate`/`endDate` snap to the same Insights windows: yesterday,
        last 7 days (inclusive span ending today), or all-time. Omitting
        `startDate` always uses all-time (it is not inferred from createdAt).

        Requires the `soundlinks:read` scope. Accepts API key or OAuth Bearer.
      tags: [Soundlinks]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: soundlinks:read
      parameters:
        - $ref: '#/components/parameters/soundlinkId'
        - $ref: '#/components/parameters/soundlinkStartDate'
        - $ref: '#/components/parameters/soundlinkEndDate'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize100'
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [totalStreams, totalListeners]
            default: totalStreams
        - $ref: '#/components/parameters/sortOrder'
      responses:
        '200':
          description: Paginated aggregated top tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundlinkEngagementResponse'
              example:
                data:
                  items:
                    - trackId: 11dFghVXANMlKmJXsNCbNl
                      trackName: Midnight Drive
                      totalStreams: 892
                      totalListeners: 603
                      streamsPerListener: 1.48
                    - trackId: 4cOdK2wGLETKBW3PvgPWqT
                      trackName: Till The Sunrise
                      totalStreams: 411
                      totalListeners: 322
                      streamsPerListener: 1.28
                  pagination:
                    page: 1
                    pageSize: 10
                    totalCount: 24
                    totalPages: 3
                meta:
                  requestId: 550e8400-e29b-41d4-a716-446655440000
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/videos/import:
    post:
      operationId: importVideo
      summary: Import video(s) from public HTTPS MP4 URL(s)
      description: |
        Accepts a single `url` or a `videos` array (1–5 items). Creates one upload
        session, enqueues async download/staging, and returns `202` with `sessionId`.

        Requires the `videos:write` scope. Subject to a stricter per-credential rate
        limit than generic public API routes (default 20 imports per hour per API key
        or OAuth grant). This caps how many import requests are accepted per hour,
        not how long ingestion takes.

        Poll `GET /v1/videos/import/{sessionId}` until `status` is `ready`, `partial`,
        or `failed`. For single-URL imports, use `videoId` when ready. For batches
        (`count > 1`), use `videoIds`.
      tags: [Videos]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: videos:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VideoImportRequest'
            examples:
              single:
                summary: Single URL (legacy)
                value:
                  url: 'https://cdn.example.com/promo.mp4'
              batch:
                summary: Batch of URLs
                value:
                  videos:
                    - url: 'https://cdn.example.com/a.mp4'
                    - url: 'https://cdn.example.com/b.mp4'
      responses:
        '200':
          description: Duplicate video already in the organization's library (sync legacy path only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoImportStartResponse'
        '202':
          description: Import accepted; ingestion in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoImportStartResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /v1/videos/import/{sessionId}:
    get:
      operationId: getVideoImportStatus
      summary: Get video import session status
      description: |
        Returns processing status. For single-URL sessions, includes `videoId` when ready.
        For batch sessions (`count > 1`), includes `videoIds` and `counts`.
        Requires the `videos:write` scope.
      tags: [Videos]
      security:
        - apiKeyBearerAuth: []
        - oauthBearer: []
      x-required-scope: videos:write
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Upload session ID returned by `POST /v1/videos/import`
      responses:
        '200':
          description: Import session status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoImportStatusResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

components:
  securitySchemes:
    apiKeyBearerAuth:
      type: http
      scheme: bearer
      description: |
        Pass your Soundlink `sk_*` API key as a Bearer token:
        `Authorization: Bearer sk_<prefix>_<token>` (not an OAuth token; see
        `oauthBearer` for that). Accepted on all Public API operations. Send
        only one `Authorization` header per request.

    oauthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth 2.0 access token from Sign in with Soundlink
        (`Authorization: Bearer <oauth_access_token>`).
        Token scopes must include the operation's required scope
        (see `x-required-scope` and the Authentication section).
        Accepted on all Public API operations (reads and writes).

  parameters:
    campaignId:
      name: campaignId
      in: path
      required: true
      schema:
        type: string
      description: Campaign identifier (UUID)

    idempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        minLength: 1
        maxLength: 255
      description: |
        A unique string identifying this request, used to safely retry write
        operations (create, stop, budget increase/decrease) without repeating
        side effects. Required on every request that references this parameter.
        Reusing this key with an unchanged request body replays the original
        response; reusing it with a different body returns
        `409 idempotency_key_conflict`. Keys are honored for 24 hours.

    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number (1-indexed)

    pageSize100:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      description: Items per page (max 100)

    pageSize500:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
      description: Rows per page (max 500; higher default than list endpoints)

    sortOrder:
      name: sortOrder
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc
      description: Sort direction

    startDate:
      name: startDate
      in: query
      schema:
        type: string
        format: date
      description: Inclusive start date (`YYYY-MM-DD`). Defaults to campaign start date.

    endDate:
      name: endDate
      in: query
      schema:
        type: string
        format: date
      description: Inclusive end date (`YYYY-MM-DD`). Defaults to today.

    soundlinkId:
      name: soundlinkId
      in: path
      required: true
      schema:
        type: string
      description: Soundlink identifier (URL-safe string, same ID used in the public sndl.ink URL)

    soundlinkStartDate:
      name: startDate
      in: query
      schema:
        type: string
        format: date
      description: Inclusive start date (`YYYY-MM-DD`). Defaults to the soundlink creation date.

    soundlinkEndDate:
      name: endDate
      in: query
      schema:
        type: string
        format: date
      description: Inclusive end date (`YYYY-MM-DD`). Defaults to today.

  schemas:
    # --- Shared ---

    Meta:
      type: object
      required: [requestId]
      properties:
        requestId:
          type: string
          format: uuid
          description: Server-generated request ID. Include when contacting support.

    Pagination:
      type: object
      required: [page, pageSize, totalCount, totalPages]
      properties:
        page:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable snake_case error code.
          enum:
            - invalid_api_key
            - api_key_revoked
            - api_key_expired
            - insufficient_scope
            - not_found
            - campaign_not_found
            - invalid_query_parameter
            - invalid_date_range
            - page_size_exceeded
            - invalid_request
            - invalid_genre
            - invalid_duration_or_budget
            - invalid_daily_budget
            - invalid_duration_days
            - invalid_spotify_url
            - invalid_tier_budget_allocation
            - invalid_tier_status
            - tier_update_cooldown
            - wallet_not_enabled
            - insufficient_credit
            - idempotency_key_conflict
            - rate_limit_exceeded
            - invalid_video_url
            - video_import_limit_exceeded
            - video_import_session_not_found
            - internal_error
        message:
          type: string
          description: Human-readable error description. Do not parse programmatically.
        details:
          type: object
          nullable: true
          description: |
            Additive, error-code-specific context (e.g. `available`/`required`
            on `insufficient_credit`). Absent or `null` for error codes that
            carry no extra data.
          additionalProperties: true

    ErrorResponse:
      type: object
      required: [error, meta]
      properties:
        error:
          $ref: '#/components/schemas/Error'
        meta:
          $ref: '#/components/schemas/Meta'

    # --- Campaign ---

    CampaignStatus:
      type: string
      enum: [creating, active, paused, stopped, completed, failed, ended]

    CampaignSummary:
      type: object
      required:
        [
          campaignId,
          organizationId,
          status,
          socialPlatform,
          dailyBudget,
          totalBudget,
          campaignDuration,
          generation,
          createdAt,
          updatedAt,
        ]
      properties:
        campaignId:
          type: string
        organizationId:
          type: string
        status:
          $ref: '#/components/schemas/CampaignStatus'
        socialPlatform:
          type: string
          enum: [meta]
        dailyBudget:
          type: number
          description: USD
        totalBudget:
          type: number
          description: USD
        campaignDuration:
          type: integer
          description: Duration in days
        generation:
          type: integer
          enum: [1, 2, 3]
          description: |
            Campaign resource generation. `1` = Stripe / one-time / subscription /
            legacy; `2` = Soundlink managed; `3` = wallet. Public API write
            operations (budget changes, stop, tier updates) are supported for
            generation `3` only.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CampaignDetail:
      allOf:
        - $ref: '#/components/schemas/CampaignSummary'
        - type: object
          properties:
            strategyType:
              type: string
              description: |
                Growth strategy (e.g. `custom`, `maximum_growth`, `market_discovery`).
                Set at campaign creation.

    CampaignListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [items, pagination]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/CampaignSummary'
            pagination:
              $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignDetailResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/CampaignDetail'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignTier:
      type: object
      required: [tierId, tierName, isEnabled, allocationPercent]
      properties:
        tierId:
          type: integer
          description: Targeting tier identifier.
        tierName:
          type: string
          description: Human-readable tier name.
        isEnabled:
          type: boolean
          description: Whether this tier is currently active.
        allocationPercent:
          type: number
          minimum: 0
          maximum: 100
          description: Share of campaign budget allocated to this tier.

    CampaignTiersData:
      type: object
      required: [lastUpdate, tiers]
      properties:
        lastUpdate:
          type: string
          format: date-time
          nullable: true
          description: |
            ISO-8601 timestamp of the last manual tier status update, or null
            if tiers have never been updated.
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/CampaignTier'

    CampaignTiersResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/CampaignTiersData'
        meta:
          $ref: '#/components/schemas/Meta'

    TierStatusUpdateItem:
      type: object
      required: [targetingTierId, isEnabled, newAllocationPercent]
      properties:
        targetingTierId:
          type: integer
          minimum: 1
          description: Targeting tier identifier.
        isEnabled:
          type: boolean
          description: Whether to enable or disable this tier.
        newAllocationPercent:
          type: number
          minimum: 0
          maximum: 100
          description: New budget share for this tier (all items must sum to 100).

    UpdateCampaignTiersRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/TierStatusUpdateItem'

    Genre:
      type: string
      description: Strictly validated against the platform's genre list.
      enum:
        - Alternative/Indie
        - Ambient/Sleep
        - Chill/Background
        - Classical
        - Country
        - Electronic/Dance
        - Hip-Hop/R&B
        - Latin/Reggaeton
        - Pop
        - Rock
        - Christmas

    StrategyType:
      type: string
      enum:
        - maximum_growth
        - market_discovery
        - revenue_maximization
        - custom

    CreativeDirection:
      description: |
        How the campaign's ad creative is produced. Omit entirely to use the
        platform's default (`do_it_for_me`).
      oneOf:
        - $ref: '#/components/schemas/DoItForMeCreativeDirection'
        - $ref: '#/components/schemas/FullControlCreativeDirection'
      discriminator:
        propertyName: type
        mapping:
          do_it_for_me: '#/components/schemas/DoItForMeCreativeDirection'
          full_control: '#/components/schemas/FullControlCreativeDirection'

    DoItForMeCreativeDirection:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [do_it_for_me]
          description: Soundlink selects and produces the ad creative.

    FullControlCreativeDirection:
      type: object
      required: [type, selectedCreatives]
      properties:
        type:
          type: string
          enum: [full_control]
        selectedCreatives:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SelectedCreative'
          description: One or more previously imported video creatives to use for the ad. Required for full control.

    SelectedCreative:
      type: object
      required: [videoId]
      properties:
        videoId:
          type: string
          format: uuid
          description: |
            ID of a video previously imported into your video library. Import
            videos via the video import endpoint before referencing them here.

    CustomTier:
      type: object
      required: [name, percentBudget]
      properties:
        name:
          type: string
        countries:
          type: array
          items:
            type: string
          description: ISO 3166-1 alpha-2 country codes.
        language:
          type: string
          description: ISO 639-1 language code.
        percentBudget:
          type: number
          description: Share of the campaign budget allocated to this tier. All tiers in a request must sum to 100.

    TierTargeting:
      type: object
      description: |
        Custom tier targeting. Required when `strategyType` is `custom`: provide a
        non-empty `customTierIds` and/or `customTiers` array. Omit entirely for
        non-custom strategies (platform default tiering applies).
      properties:
        customTierIds:
          type: array
          items:
            type: integer
        customTiers:
          type: array
          description: |
            Inline custom tiers to create with the campaign. At most 5 active
            tiers (percentBudget > 0) are allowed; inactive (0%) entries do not
            count toward that limit. Each active tier must receive at least
            $1.50 of dailyBudget (gross). percentBudget values must sum to 100.
          items:
            $ref: '#/components/schemas/CustomTier'

    CreateCampaignRequestShared:
      type: object
      required: [spotifyUrl, dailyBudget, durationDays, genre]
      properties:
        spotifyUrl:
          type: string
          format: uri
          description: |
            Spotify track or playlist URL to promote. Must be a valid track or
            playlist link to a resource that currently exists on Spotify.
        dailyBudget:
          type: number
          minimum: 10
          description: |
            USD, per day. Must be at least 10 (same floor as the Soundlink UI).
        durationDays:
          description: |
            Campaign duration in days. Must be an integer from 7 to 30 (UI custom
            range), or 60, or 90 (UI dropdown extras).
          oneOf:
            - type: integer
              minimum: 7
              maximum: 30
            - type: integer
              enum: [60, 90]
        genre:
          $ref: '#/components/schemas/Genre'
        campaignName:
          type: string
          description: Optional. Server generates a default (track title + short random suffix) when omitted.
        creativeDirection:
          $ref: '#/components/schemas/CreativeDirection'
        trackOptions:
          type: object
          description: Options that only apply when `spotifyUrl` is a track link. Ignored when `spotifyUrl` is a playlist link.
          properties:
            artistIdFollow:
              type: string
              description: Pass-through artist identifier.
        clonedFromCampaignId:
          type: string
          format: uuid
          description: >-
            Optional UUID of a campaign in your organization this create is
            cloned from. Records lineage only — it does not copy settings from
            the source; all other create fields must still be provided. Unknown
            or other-organization IDs return `400 invalid_request`.

    CreateCampaignRequestWithoutTiers:
      allOf:
        - $ref: '#/components/schemas/CreateCampaignRequestShared'
        - type: object
          required: [strategyType]
          properties:
            strategyType:
              type: string
              enum:
                - maximum_growth
                - market_discovery
                - revenue_maximization
              description: |
                Non-custom growth strategy. Do not send `tierTargeting` with these
                values; the platform applies default tiering.
          not:
            required: [tierTargeting]

    CreateCampaignRequestCustom:
      allOf:
        - $ref: '#/components/schemas/CreateCampaignRequestShared'
        - type: object
          required: [strategyType, tierTargeting]
          properties:
            strategyType:
              type: string
              enum: [custom]
              description: |
                Custom growth strategy. Requires `tierTargeting` with a non-empty
                `customTierIds` and/or `customTiers` array.
            tierTargeting:
              $ref: '#/components/schemas/TierTargeting'

    CreateCampaignRequest:
      description: |
        Create a wallet-funded campaign. When `strategyType` is `custom`,
        `tierTargeting` is required. For `maximum_growth`, `market_discovery`,
        or `revenue_maximization`, do not send `tierTargeting` (platform default
        tiering applies).
      oneOf:
        - $ref: '#/components/schemas/CreateCampaignRequestWithoutTiers'
        - $ref: '#/components/schemas/CreateCampaignRequestCustom'

    CampaignCreateData:
      type: object
      required: [campaignId, status]
      properties:
        campaignId:
          type: string
        status:
          $ref: '#/components/schemas/CampaignStatus'

    CreateCampaignResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/CampaignCreateData'
        meta:
          $ref: '#/components/schemas/Meta'

    CampaignStopData:
      type: object
      required: [campaignId, status]
      properties:
        campaignId:
          type: string
        status:
          $ref: '#/components/schemas/CampaignStatus'
          description: Campaign status after stop (typically `stopped`).

    StopCampaignResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/CampaignStopData'
        meta:
          $ref: '#/components/schemas/Meta'

    StrategyCatalogItem:
      type: object
      required: [strategyType, tierTargetingAllowed]
      properties:
        strategyType:
          $ref: '#/components/schemas/StrategyType'
        tierTargetingAllowed:
          type: boolean
          description: |
            When `false`, omit `tierTargeting` on create (platform default
            tiering applies). Only `custom` allows `tierTargeting`.

    StrategiesCatalogData:
      type: object
      required: [strategies]
      properties:
        strategies:
          type: array
          items:
            $ref: '#/components/schemas/StrategyCatalogItem'

    StrategiesCatalogResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/StrategiesCatalogData'
        meta:
          $ref: '#/components/schemas/Meta'

    BudgetIncreaseMode:
      type: string
      enum: [current_cycle, next_renewal, current_and_renewals]
      description: |
        Defaults to `current_and_renewals` when omitted on increase requests.

    BudgetDecreaseMode:
      type: string
      enum: [current_cycle, current_and_renewals]
      description: |
        Defaults to `current_and_renewals` when omitted on decrease requests.
        `next_renewal` is not supported for decreases.

    IncreaseCampaignBudgetRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: number
          description: |
            Wallet debit / top-up amount in USD. Must be positive, except
            `mode: next_renewal` with `targetDailyBudget` where `amount` may
            be `0`.
        mode:
          $ref: '#/components/schemas/BudgetIncreaseMode'
        targetDailyBudget:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: |
            Optional absolute next-cycle daily budget (USD). Most useful with
            `mode: next_renewal`.

    IncreaseCampaignBudgetData:
      type: object
      required: [campaignId, mode, amount, walletBalance]
      properties:
        campaignId:
          type: string
        mode:
          $ref: '#/components/schemas/BudgetIncreaseMode'
        amount:
          type: number
        walletBalance:
          type: number
          description: Organization wallet balance after the increase.
        walletNextCycleDailyBudget:
          type: number
          nullable: true
          description: Next-cycle daily budget when set by this request.

    IncreaseCampaignBudgetResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/IncreaseCampaignBudgetData'
        meta:
          $ref: '#/components/schemas/Meta'

    DecreaseCampaignBudgetRequest:
      type: object
      required: [targetDailyBudget]
      properties:
        targetDailyBudget:
          type: number
          minimum: 10
          description: |
            New daily budget in USD (gross). Must be at least `$10`/day and
            lower than the campaign's current daily budget.
        mode:
          $ref: '#/components/schemas/BudgetDecreaseMode'

    DecreaseCampaignBudgetData:
      type: object
      required: [campaignId, mode, targetDailyBudget, accepted]
      properties:
        campaignId:
          type: string
        mode:
          $ref: '#/components/schemas/BudgetDecreaseMode'
        targetDailyBudget:
          type: number
        accepted:
          type: boolean
          enum: [true]
          description: |
            Always `true` on success. Unused budget refund is applied
            asynchronously after acceptance.
        walletNextCycleDailyBudget:
          type: number
          nullable: true
          description: |
            Present for `current_and_renewals` when the next-cycle daily
            budget was updated. Omitted for `current_cycle`.

    DecreaseCampaignBudgetResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/DecreaseCampaignBudgetData'
        meta:
          $ref: '#/components/schemas/Meta'

    # --- Metrics ---

    MetricsOverview:
      type: object
      description: |
        Campaign-level totals aggregated across all countries for the requested
        date range. Field names align with the `campaign_country_daily` row
        schema — values here are the sum of country rows.
      required:
        [
          listeners,
          streams,
          followers,
          spend_media,
          spend_total,
          fees,
          currency,
          cpl,
          cpf,
          streams_per_listener,
        ]
      properties:
        listeners:
          type: integer
          description: Unique attributed Spotify listeners (sum of country rows).
        streams:
          type: integer
          description: Attributed Spotify streams (sum of country rows).
        followers:
          type: integer
          description: Attributed artist follower gains (sum of country rows).
        impressions:
          type: integer
          nullable: true
          description: Total Meta ad impressions. Null if not available.
        ad_clicks:
          type: integer
          nullable: true
          description: Total Meta ad clicks (all click types).
        link_clicks:
          type: integer
          nullable: true
          description: Outbound clicks to Spotify via the Soundlink landing page.
        spend_media:
          type: number
          description: Amount billed to Meta for ad delivery. Excludes Soundlink fees. USD.
        spend_total:
          type: number
          description: Total billed by Soundlink (spend_media + fees). USD.
        fees:
          type: number
          description: Soundlink service fee (spend_total - spend_media). USD.
        currency:
          type: string
          description: Currency for spend fields. Currently always `USD`.
        cpl:
          type: number
          description: Cost per listener (spend_media / listeners).
        cpf:
          type: number
          description: Cost per follower (spend_media / followers).
        streams_per_listener:
          type: number
          description: streams / listeners. Zero if listeners is zero.

    MetricsOverviewResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/MetricsOverview'
        meta:
          $ref: '#/components/schemas/Meta'

    BreakdownRow:
      type: object
      description: |
        One row of the `campaign_country_daily` v1.0 schema.
        Primary key: `(provider, account_id, report_date, campaign_id, country_code)`.
        Rows are idempotent — re-ingesting on the primary key is safe.
        Values for a given `report_date` may be revised for up to 7 days after
        the date closes due to delayed events from Meta and Spotify.
      required:
        - provider
        - account_id
        - schema_version
        - report_date
        - report_date_timezone
        - exported_at
        - campaign_id
        - campaign_name
        - campaign_target_type
        - country_code
        - streams
        - listeners
        - followers
        - streams_per_listener
        - spend_media
        - spend_total
        - fees
        - currency
        - currency_account
        - cpl
        - cpf
        - cost_per_result
      properties:
        provider:
          type: string
          enum: [soundlink]
          description: Always `soundlink`. Identifies the data provider for multi-source warehouses.
        account_id:
          type: string
          description: Soundlink organization ID (UUID).
        schema_version:
          type: string
          description: Schema version. Pin your ingest pipeline to this value.
          example: '1.0'
        report_date:
          type: string
          format: date
          description: UTC calendar date the metrics belong to (`YYYY-MM-DD`).
        report_date_timezone:
          type: string
          enum: [UTC]
          description: Always `UTC`.
        exported_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when this row was generated. Use for deduplication if the same `report_date` is re-delivered.
        campaign_id:
          type: string
          description: Soundlink campaign UUID. Stable for the lifetime of the campaign.
        campaign_name:
          type: string
          description: Human-readable campaign name.
        campaign_target_type:
          type: string
          nullable: true
          enum: [track, playlist]
          description: Whether this campaign promotes a track or playlist. `null` if undetermined.
        campaign_target_isrc:
          type: string
          nullable: true
          description: ISRC of the promoted track. Populated when `campaign_target_type = track`; otherwise `null`.
        campaign_target_spotify_track_id:
          type: string
          nullable: true
          description: Spotify track ID of the promoted track. Populated when `campaign_target_type = track`; otherwise `null`.
        campaign_target_playlist_id:
          type: string
          nullable: true
          description: Spotify playlist ID. Populated when `campaign_target_type = playlist`; otherwise `null`.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2. Derived from the listener's IP at time of engagement. Uppercase.
        impressions:
          type: integer
          nullable: true
          description: Total Meta ad impressions served in this country on this day.
        ad_clicks:
          type: integer
          nullable: true
          description: Total clicks on the Meta ad (all click types). Use `ctr_adclick` for ad-level CTR.
        link_clicks:
          type: integer
          nullable: true
          description: Clicks on "Continue with Spotify" on the Soundlink landing page. Use `cpc_linkclick` / `ctr_linkclick` for outbound CPC/CTR.
        streams:
          type: integer
          description: Spotify streams attributed to this campaign in this country on this day (7-day click-through window). Observed events, not modelled estimates.
        listeners:
          type: integer
          description: Unique Spotify listeners attributed to this campaign in this country on this day (7-day click-through window). Summing country rows gives the correct campaign-level total.
        followers:
          type: integer
          description: Spotify artist follower gains attributed to this campaign in this country on this day (7-day click-through window).
        streams_per_listener:
          type: number
          description: streams / listeners for this row. Zero if listeners is zero.
        spend_media:
          type: number
          description: Amount billed to Meta for ad delivery in this country on this day. Excludes Soundlink service fees. In `currency`.
        spend_total:
          type: number
          description: Total billed by Soundlink (spend_media + fees). Computed as `spend_media / (1 - fee_pct)`.
        fees:
          type: number
          description: Soundlink service fee (spend_total - spend_media).
        currency:
          type: string
          description: Currency for spend fields. Currently always `USD`.
        currency_account:
          type: string
          description: Account billing currency. Currently always `USD`. Will differ from `currency` once EUR delivery is available.
        cpl:
          type: number
          description: Cost per listener (spend_media / listeners). Zero if listeners is zero.
        cpf:
          type: number
          description: Cost per follower (spend_media / followers). Zero if followers is zero.
        cpc_linkclick:
          type: number
          nullable: true
          description: Cost per outbound click (spend_media / link_clicks). Null if link_clicks is null or zero.
        ctr_linkclick:
          type: number
          nullable: true
          description: Outbound CTR (link_clicks / impressions). Null if impressions is null or zero.
        ctr_adclick:
          type: number
          nullable: true
          description: Meta ad CTR (ad_clicks / impressions). Null if impressions is null or zero.
        cost_per_result:
          type: number
          description: Cost per primary campaign result. Currently equivalent to `cpf` (cost per follower). See `result_type`.
        result_type:
          type: string
          nullable: true
          enum: [lp_click, stream, follow]
          description: The conversion event used for `cost_per_result`. Currently always `follow`.

    MetricsBreakdownResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [schemaVersion, items, pagination]
          properties:
            schemaVersion:
              type: string
              description: Version of the `campaign_country_daily` row schema. Pin your ingest pipeline to this.
              example: '1.0'
            items:
              type: array
              items:
                $ref: '#/components/schemas/BreakdownRow'
            pagination:
              $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    # --- Engagement ---

    EngagementRow:
      type: object
      description: |
        One row of the `campaign_engagement_daily` v1.0 schema.
        Primary key: `(provider, account_id, report_date, campaign_id, engagement_context, country_code, engaged_spotify_track_id)`.
        Rows are idempotent — re-ingesting on the primary key is safe.
        Values for a given `report_date` may be revised for up to 7 days after
        the date closes due to delayed Spotify playback events.
      required:
        - provider
        - account_id
        - schema_version
        - report_date
        - report_date_timezone
        - exported_at
        - campaign_id
        - campaign_name
        - campaign_target_type
        - status
        - engagement_context
        - country_code
        - engaged_spotify_track_id
        - engaged_track_name
        - new_listeners
        - returning_listeners
        - listeners
        - new_listener_streams
        - returning_listener_streams
        - streams
        - spl
      properties:
        provider:
          type: string
          enum: [soundlink]
          description: Always `soundlink`. Identifies the data provider for multi-source warehouses.
        account_id:
          type: string
          description: Soundlink organization ID (UUID).
        schema_version:
          type: string
          description: Schema version string. Pin your ingest pipeline to this value.
          example: '1.0'
        report_date:
          type: string
          format: date
          description: UTC calendar date the metrics belong to (`YYYY-MM-DD`). Rows can change for up to 7 days after close.
        report_date_timezone:
          type: string
          enum: [UTC]
          description: Always `UTC`.
        exported_at:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp when this row was generated. Use for deduplication if the same `report_date` is re-delivered.
        campaign_id:
          type: string
          description: Soundlink campaign UUID. Stable for the lifetime of the campaign.
        campaign_name:
          type: string
          description: Human-readable campaign name.
        campaign_target_type:
          type: string
          nullable: true
          enum: [track, playlist]
          description: Whether this campaign promotes a track or a playlist. `null` if undetermined.
        campaign_target_isrc:
          type: string
          nullable: true
          description: ISRC of the promoted track. Populated when `campaign_target_type = track`; otherwise `null`.
        campaign_target_spotify_track_id:
          type: string
          nullable: true
          description: Spotify track ID of the promoted track. Populated when `campaign_target_type = track`; otherwise `null`.
        campaign_target_playlist_id:
          type: string
          nullable: true
          description: Spotify playlist ID. Populated when `campaign_target_type = playlist`; otherwise `null`.
        status:
          type: string
          enum: [active, ended, scheduled]
          description: |
            Campaign lifecycle status on `report_date`.
            `active` = campaign was running; `ended` = campaign had ended or was refunded;
            `scheduled` = `report_date` is before campaign start.
            Post-campaign rows will have `status = ended`.
        engagement_context:
          type: string
          enum: [catalog, playlist]
          description: |
            Which dashboard section the row maps to.
            `catalog` = same-artist spillover (and direct promoted-track plays) on track campaigns.
            `playlist` = per-track performance inside the promoted playlist on playlist campaigns.
        country_code:
          type: string
          description: ISO 3166-1 alpha-2. Derived from the listener's IP at time of engagement. Uppercase.
          example: US
        engaged_track_isrc:
          type: string
          nullable: true
          description: |
            ISRC of the track that received listens. May differ from `campaign_target_isrc`
            for catalog spillover rows. `null` if ISRC could not be resolved.
        engaged_spotify_track_id:
          type: string
          description: |
            Stable track identifier used in the primary key. Currently this is the
            Spotify track ID for the engaged track.
          example: 4cOdK2wGLETKBW3PvgPWqT
        engaged_track_name:
          type: string
          description: Display name of the engaged track.
        playlist_position:
          type: integer
          nullable: true
          minimum: 1
          description: |
            1-based slot of the engaged track on the promoted playlist for `report_date` (1 = top).
            Populated only when `engagement_context = playlist` and that day's playlist crawl listed the track.
            `null` for catalog rows; before the day's crawl completes (current UTC day is often null until later morning UTC);
            when the track was not listed or could not be matched to that day's crawl; or while historical backfill is still catching up.
            Field is beta until historical backfill finishes. Treat `null` as unavailable — not an error.
        new_listeners:
          type: integer
          minimum: 0
          description: Unique listeners whose first play of this track on this smart link occurred on `report_date`.
        returning_listeners:
          type: integer
          minimum: 0
          description: Unique listeners who played this track on `report_date` but whose first play was on an earlier date.
        listeners:
          type: integer
          minimum: 0
          description: |
            Total unique listeners on `report_date`: `new_listeners + returning_listeners`.
            **Do not sum across days** — the same listener can appear on multiple `report_date` rows.
        new_listener_streams:
          type: integer
          minimum: 0
          description: Stream count from new listeners on `report_date`.
        returning_listener_streams:
          type: integer
          minimum: 0
          description: Stream count from returning listeners on `report_date`.
        streams:
          type: integer
          minimum: 0
          description: |
            Total streams on `report_date`: `new_listener_streams + returning_listener_streams`.
            Safe to sum within a day; summing across days counts repeat listens.
        spl:
          type: number
          description: Streams per listener (`streams / listeners`). Zero if `listeners` is zero.

    # --- Soundlinks ---

    SoundlinkStatus:
      type: string
      enum: [draft, active, archived]

    SoundlinkSummary:
      type: object
      required: [soundlinkId, organizationId, name, url, targetType, status, createdAt]
      properties:
        soundlinkId:
          type: string
          description: |
            Unique ID of this soundlink (URL-safe string, same ID used in the
            public sndl.ink URL).
          example: V1StGXR8_Z5jdHi6B-myT
        organizationId:
          type: string
          description: Soundlink organization ID (UUID).
        name:
          type: string
          description: Human-readable soundlink name.
        url:
          type: string
          format: uri
          description: Public soundlink landing page URL.
          example: https://sndl.ink/soundlink/V1StGXR8_Z5jdHi6B-myT
        targetType:
          type: string
          nullable: true
          enum: [track, album, playlist]
          description: |
            Type of Spotify resource this soundlink promotes. `null` if the
            target could not be determined.
        spotifyUrl:
          type: string
          format: uri
          nullable: true
          description: Spotify URL of the promoted resource.
        status:
          $ref: '#/components/schemas/SoundlinkStatus'
        createdAt:
          type: string
          format: date-time

    SoundlinkListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [items, pagination]
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/SoundlinkSummary'
            pagination:
              $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/Meta'

    SoundlinkDetail:
      allOf:
        - $ref: '#/components/schemas/SoundlinkSummary'
        - type: object
          required: [autoFollow, metaPixelId, tiktokPixelId]
          properties:
            autoFollow:
              type: boolean
              description: |
                Whether auto-follow is configured for this soundlink. Whether
                it takes effect also depends on the organization's plan.
            metaPixelId:
              type: string
              nullable: true
              description: Meta pixel ID configured on this soundlink. `null` if not set.
            tiktokPixelId:
              type: string
              nullable: true
              description: TikTok pixel ID configured on this soundlink. `null` if not set.

    SoundlinkDetailResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          $ref: '#/components/schemas/SoundlinkDetail'
        meta:
          $ref: '#/components/schemas/Meta'

    SoundlinkMetricsOverview:
      type: object
      description: Soundlink-level totals for the requested date range.
      required: [views, streams, listeners, followers, streams_per_listener]
      properties:
        views:
          type: integer
          description: Soundlink landing page views in the period.
        link_clicks:
          type: integer
          nullable: true
          description: |
            Clicks on "Continue with Spotify" on the landing page — outbound
            clicks to Spotify. Null if not tracked for this soundlink type.
        streams:
          type: integer
          description: Attributed Spotify streams (sum of daily rows).
        listeners:
          type: integer
          description: Unique attributed Spotify listeners in the period.
        new_listeners:
          type: integer
          nullable: true
          description: Unique listeners whose first play via this soundlink occurred in the period.
        returning_listeners:
          type: integer
          nullable: true
          description: Unique listeners who played in the period but whose first play was earlier.
        new_listener_streams:
          type: integer
          nullable: true
          description: Stream count from new listeners in the period.
        returning_listener_streams:
          type: integer
          nullable: true
          description: Stream count from returning listeners in the period.
        followers:
          type: integer
[...]
